@charset "utf-8";
/* CSS Document */




.content-text{
	width:1000px;
	margin:0 auto;
	background: url(../images/news/news.svg) no-repeat;
	}


.news-content-top{
	width:1000px;
	height:320px;
	margin:0 auto;
	position:relative;
	}




/*新闻上面部分*/

.content-milldle-clearfix{
	width:1000px;
	height:480px;
	margin:0 auto;
	}
.conmid-left{
	width:675px;
	margin-top:10px;
	float:left;
	}
.conmid-left p{
	font-size:24px;
	margin:10px 0;
	font-weight:bold;
	}
#weatherWrap{
	font-size:14px;
	color:#bd8431;
	}
.conmid-box{
	width:675px;
	margin-top:15px;
	}
.conmid-box ul li{
	list-style-type: disc;
	margin-left:20px;
	margin-top:20px;
	color:#bd8431;
	}
.conmid-news01{
	width:675px;
	height:120px;
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	margin-top:10px;
	}
.conmid-news01:hover{
	background: #EEE;
	}
.conmid-news02:hover{
	background: #EEE;
	}
.conmid-news01 div{
	width:105px;
	height:90px;
	overflow:hidden;
	clear:left;
	float:left;
	margin:10px;
	}
.conmid-news01 div img{
	width:120px;
	}
.conmid-news01 div img:hover{
	width:150px;
	}
.conmid-news01 p{
	font-size:14px;
	color:#bd8431;
	float:left;
	margin-top:10px;
	}
.conmid-news01 span{
	width:500px;
	font-size:12px;
	color:#666;
	float:left;
	letter-spacing:2px;
	}
.conmid-news02{
	width:675px;
	height:120px;
	border-bottom:1px solid #999;
	margin-top:10px;
	}
.conmid-news02 div{
	width:105px;
	height:90px;
	overflow:hidden;
	clear:left;
	float:left;
	margin:10px;
	}
.conmid-news02 div img{
	width:120px;
	}
.conmid-news02 div img:hover{
	width:150px;
	}
.conmid-news02 p{
	font-size:14px;
	color:#bd8431;
	float:left;
	margin-top:10px;

	}
.conmid-news02 span{
	width:500px;
	font-size:12px;
	color:#666;
	float:left;
	letter-spacing:2px;
	}
.conmid-right{
	width:300px;
	float:right;
	margin-top:100px;
	}
.conmid-right p{
	margin:10px 0;
	color:#bd8431;
	}
.conmidright-box{
	width:300px;
	height:100px;
	}
.conmidright-box img{
	clear:left;
	float:left;
	}
.conmidright-box span{
	font-size:14px;
	color:#999;
	margin:5px;
	}
.conmid-right ul{
	margin-left:18px;
	margin-top:10px;
	}
.conmid-right ul li{
	padding-top:10px;
	font-size:16px;
	list-style-type: square;
	color:#bd8431;
	}
.conmid-yaowen{
	width:1000px;
	height:850px;
	margin:0 auto;
	}
.yaowen-left{
	width:670px;
	float:left;
	}
.yaowen-left p{
	width:670px;
	height:40px;
	font-size:24px;
	font-weight:bold;
	color:#bd8431;
	}
.yaowenleft-box{
	width:670px;
	height:210px;
	border-bottom:1px solid #000;
	}
.yaowenleft-box p{
	font-size:18px;
	font-weight:normal;
	color:#bd8431;
	}
.yaowenleft-box ul li{
	display:inline-block;
	padding-left:5px;
	}
.yaowenleft-box01{
	width:670px;
	height:140px;
	border-bottom:1px solid #000;
	color:#bd8431;
	}
.box01-img{
	clear:left;
	float:left;
	margin:10px 10px 10px 0;
	}
.box01-span{
	float:left;
	font-size:18px;
	margin-top:10px;
	}
.yaowenleft-box01 .box01-p{
	font-size:12px;
	color:#666;
	width:500px;
	float:left;
	letter-spacing:2px;
	font-weight:normal;
	}
.yaowen-right{
	width:300px;
	float:right;
	}
.right-bottom{
	margin-top:50px;
	}
.rigbot-img{
	width:300px;
	height:200px;
	}
.rigbot-img img{
	clear:left;
	float:left;
	margin:10px;
	}
.rigbot-img ul li{
	padding-top:10px;
	}
.rigbot-img ul li:nth-child(2){
	color:#999;
	}
.right-bottom ul li{
	padding-top:10px;
	color:#bd8431;
	}
.news-funny{
	width:1000px;
	height:800px;
	}
.news-funny p{
	font-size:20px;
	font-weight:bold;
	}
.conmidright-box1{
	display:inline-block;
	}
.conmidright-box1 img{
	width:300px;
	clear:left;
	float:left;
	margin-left:25px;
	}
.conmidright-box1 ul{
	list-style-type:none;
	width:300px;
	}
.conmidright-box1 ul li{
	display:inline-block;
	font-size:14px;
	padding-top:5px;
	padding-left:50px;
	}
.conmidrigbox1-li{
	letter-spacing:1px;
	}
.conmidrigbox1-li01{
	letter-spacing:1px;
	text-indent:2em;
	}
/*轮播图*/
.news-content-top div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}


.news-content-top div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
			margin-top:10px;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.news-content-top div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.news-content-top div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.news-content-top div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.news-content-top div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.news-content-top div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}