body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;} 
body{font:"宋体","Arial Narrow",HELVETICA;background:#FFFFFF;-webkit-text-size-adjust:100%;}
a{text-decoration:none;} 
em{font-style:normal;} 
li{list-style:none;}
p{word-wrap:break-word;} 
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix {zoom: 1;}
