.head{
	width:1000px;
	height:450px;
	margin:0 auto;
	
	background-image:url("../images/travel/travel-2.jpg")
}
.travel-content{
	width:800px;
	height:70px;
	margin:0 auto;
	border-bottom:5px solid  #bd8431;
}
.text-travel{
	text-transform:capitalize;
	font-size:30px;
	font-weight:bolder;
	margin-top:15px;
	margin-left:320px;
}
.text-travel1{
	font-size:20px;
	font-weight:bold;
	margin-left:700px;
	margin-top:-25px;
	float:left;
}
.text-travel-a{
	font-size:30px;
	font-weight:bolder;
	color:#191a17;
	
}
.text-travel2 option{
	color:#bd8431;
	font-size:25px;
}
.inner{
	width:1000px;
	height:300px;
	margin:0 auto;
}
.text-travel3{
	font-size:18px;
	color:#191a17;
}
.content-beijing{
	width:1000px;
	height:1500px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:130%;
	border-top:5px solid  #bd8431;
	border-bottom:5px solid  #bd8431;
}
.text-beijing{
	font-size:50px;
	font-family:kaiti;
	margin-top:-1px;
}
.content-beijing-left{
	width:500px;
	height:600px;
	margin-left:00px;
	float:left;
	clear:both;
	
}
.text-beijing1{
	font-size:22px;
	font-weight:bold;
	margin-top:-1px;
	color:#bd8431;
}
.text-beijing2{
	font-size:18px;
	margin-top:-20px;
	color:#191a17;
}
.content-beijing-right{
	width:500px;
	height:600px;
	margin-left:510px;
	
	
}
.content-beijing-left1{
	width:500px;
	height:600px;
	margin-top:120px;
	float:left;
	clear:both;
	
}
.content-beijing-right1{
	width:500px;
	height:600px;
	margin-left:510px;
	margin-top:122px;
	
}
.content-shanghai{
	width:1000px;
	height:750px;
	margin:10px auto;
	border-bottom:5px solid  #bd8431;
}
.head:hover{
	background-image:url("../images/travel/travel-8.jpg")
}
.content-shanghai-picture{
	float:left;
}
.text-travel-a a{
	text-decoration:none;
}
.content-NewYork{
	width:1000px;
	height:1000px;
	left:50%;
	transform:translate(-50%,0);
	border-bottom:5px solid  #bd8431;
	position:relative;
}
.content-NewYork img:hover{
	z-index:100;
}
.content-NewYork img{
	border:5px solid white;
}
.text-newyork{
	font-size:45px;
	font-weight:bold;
	margin-top:10px;
	margin-left:50px;
	
}
.newyork-picture1{
	position:absolute;
	left:50px;
	top:400px;
	
}
.newyork-picture2{
	position:absolute;
	left:150px;
	top:180px;
}
.newyork-picture3{
	position:absolute;
	left:300px;
	top:100px;
}
.newyork-picture4{
	position:absolute;
	left:200px;
	top:250px;
}
.newyork-picture5{
	position:absolute;
	left:650px;
	top:260px;
}
.newyork-picture6{
	position:absolute;
	left:380px;
	top:600px;
}
.newyork-picture7{
	position:absolute;
	left:450px;
	top:150px;
}
.newyork-picture8{
	position:absolute;
	left:450px;
	top:200px;
}
.newyork-picture11{
	position:absolute;
	left:500px;
	top:400px;
}
.newyork-picture12{
	position:absolute;
	left:290px;
	top:600px;
}
.newyork-picture14{
	position:absolute;
	left:160px;
	top:500px;
}










